/* Blog */
.blog {
    padding: 78px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__info {
    width: 350px;
    margin-right: 74px;
}

.blog__desc {
    margin-top: 0;
}

.blog__cta {
    min-width: 182px;
    margin-top: 24px;
    color: #ff5b2e;
    border: 1px solid rgb(255, 91, 46, 0.6);
}

.blog__cta:hover {
    transition: 0.05s ease-in-out;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 54px;
}

.blog-item__img-wrap {
    padding: 24px 0 0 36px;
    background: #90ccff;
    border-radius: 24px;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}


.blog-item__img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog-item__time {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #fff;
}

.blog-item__info {
    padding: 28px 16px 0 0;
}

.blog-item__title {
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55;
}

.blog-item__desc {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
