/* Review */
.review {
    padding: 104px 0 52px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
    height: 450px;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    background: transparent;
    color: #ff5b2e;
}

.review__control:hover {
    background: #ff5b2e;
    border-color: #ff5b2e;
    color: #fff;
    cursor: pointer;
}

.review__control:nth-of-type(2) {
    margin-left: auto;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.review-item__content {
    margin-top: 28px;
}

.review__content {
    overflow: hidden;
}

.review-item__media {
    /* margin-top: -52px; */
    position: relative;
    flex-shrink: 0;
    width: 274px;
    border-radius: 137px;
}

.review-item__media::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
}

.review-item__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.review-item__quote {
    width: 553px;
    margin-top: 24px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56;
}
.review-item__author:before {
    display: inline-block;
    margin-right: 8px;
    content: "";
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: #000;
    top: 50%;

}

.review-item__author {
    display: flex;
    align-items: center;
    margin-top: 34px;
    color: #282828;
    font-size: 1.8rem;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
}


.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
}
.review__dot:hover {
    background-color: #ff5b2e;
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background-color: #ff5b2e;
}


