/* Service */
.service {
    margin-top: 190px;
    background: #fff6ed;
    padding: 68px 0 100px;
}

.service__top {
    text-align: center;
}

.service__desc {
    color: #5e6085;
    font-size: 1.6rem;
    font-family: Sora, sans-serif;
    font-weight: 600;
    line-height: 1;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
    margin-top: 70px;
}

.service-item {
    width: 294px;
    padding: 30px;
    border-radius: 16px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 12px;
    position: relative;
}

.service-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    position: absolute;
    inset: 0 auto 0 0;
    border-radius: 99px;
    background: linear-gradient(63deg, #FF5B2E 0%, #FFA187 100%);
}

.service-item__desc {
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    color: #34396a;
    font-size: 1.2rem;
    font-family: Sora, sans-serif;
    line-height: 1;
}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin: 1px 0 0 5px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    left: 16px;
    right: 16px;
    bottom: 0;
    height: 350px;
    flex-shrink: 0;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: #FF5B2E;
    border-color: currentColor;
}
